<% provide(:title, "About") %>
<h1>About</h1>
<p>
	The	<a href="http://www.railstutorial.org/#help"><em>Rails tutorial help section</em></a> is a <a href="http://www.railstutorial.org/book">Ruby on rails tutorial book</a> and a <a href="http://screencast.railstutorial.org">screencast series</a> to teach web development with <a href="http://rubyonrails.org">Ruby on rails</a>.
	This is the sample applivation for the tutorial.
</p>